> Projeto Desenvolve <br>
Programação Intermediária com Python <br>
Profa. Camila Laranjeira (mila@projetodesenvolve.com.br) <br>

# 3.6 - Pandas

## Exercícios
Antes de continuar, baixe os arquivos das bases de dados de partidas em Copas do Mundo e salve na mesma pasta deste notebook.
* https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1930_2022.csv
* https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1991_2023.csv

A célula a seguir já carrega os dados em CSV e ajusta as colunas para trabalharmos com os nomes traduzidos (como fizemos em aula).

In [2]:
import pandas as pd
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',12)

wcwomen_df = pd.read_csv('matches_1991_2023.csv')
wcmen_df   = pd.read_csv('matches_1930_2022.csv')
wc = pd.concat((wcwomen_df,wcmen_df)).reset_index()

nomes_traduzidos = {'home_team': 'time_1', 'away_team': 'time_2', 'home_score': 'gols_1', 'away_score': 'gols_2',
                    'Date': 'data', 'Year': 'ano', 'Host': 'país_sede', 'Attendance': 'comparecimento',
                    'Score': 'resultado', 'Round': 'rodada', 'home_goal': 'gols_1_detalhes', 'away_goal': 'gols_2_detalhes',
                    'home_own_goal': 'gols_1_contra', 'away_own_goal': 'gols_2_contra',
                    'home_penalty_goal': 'gols_1_penalti', 'away_penalty_goal': 'gols_2_penalti',
                    'home_red_card': 'cartao_vermelho_1', 'away_red_card': 'cartao_vermelho_2',
                    'home_yellow_card_long': 'cartao_amarelo_1', 'away_yellow_card_long': 'cartao_amarelo_2'}

wc = wc.loc[:, nomes_traduzidos.keys()]
wc.columns = nomes_traduzidos.values()

copa = wc['ano'].apply( lambda x: 'Masculina' if x % 2 == 0 else 'Feminina').astype('string')
wc['copa'] = copa
display(wc)

,time_1,time_2,gols_1,gols_2,data,ano,país_sede,comparecimento,resultado,rodada,gols_1_detalhes,gols_2_detalhes,gols_1_contra,gols_2_contra,gols_1_penalti,gols_2_penalti,cartao_vermelho_1,cartao_vermelho_2,cartao_amarelo_1,cartao_amarelo_2,copa
0,Spain,England,1,0,2023-08-20,2023,"Australia, New Zealand",75784,1–0,Final,Olga Carmona · 29’,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['78’|1:0|Salma Paralluelo'],['55’|1:0|Lauren Hemp'],Feminina
1,Sweden,Australia,2,0,2023-08-19,2023,"Australia, New Zealand",49461,2–0,Third-place match,Kosovare Asllani · 62’,NaN,NaN,NaN,Fridolina Rolfö (P) · 30’,NaN,NaN,NaN,"['88’|2:0|Elin Rubensson', '90+5’|2:0|Lina Hur...",['45+1’|1:0|Katrina Gorry'],Feminina
2,Australia,England,1,3,2023-08-16,2023,"Australia, New Zealand",75784,1–3,Semi-finals,Sam Kerr · 63’,Ella Toone · 36’|Lauren Hemp · 71’|Alessia Rus...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['10’|0:0|Alex Greenwood', '90+5’|1:3|Chloe Ke...",Feminina
3,Spain,Sweden,2,1,2023-08-15,2023,"Australia, New Zealand",43217,2–1,Semi-finals,Salma Paralluelo · 81’|Olga Carmona · 89’,Rebecka Blomqvist · 88’,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feminina
4,Australia,France,0,0,2023-08-12,2023,"Australia, New Zealand",49461,(7) 0–0 (6),Quarter-finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['92’|0:0|Katrina Gorry'],NaN,Feminina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,Argentina,France,1,0,1930-07-15,1930,Uruguay,23409,1–0,Group stage,Luis Monti · 81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina
1308,Yugoslavia,Brazil,2,1,1930-07-14,1930,Uruguay,24059,2–1,Group stage,Aleksandar Tirnanić · 21|Ivan Bek · 30,Preguinho · 62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina
1309,Romania,Peru,3,1,1930-07-14,1930,Uruguay,2549,3–1,Group stage,Adalbert Deșu · 1|Constantin Stanciu · 79|Nico...,Luis de Souza Ferreira · 75,NaN,NaN,NaN,NaN,NaN,Plácido Galindo · 70,NaN,NaN,Masculina
1310,United States,Belgium,3,0,1930-07-13,1930,Uruguay,18346,3–0,Group stage,Bart McGhee · 23|Tom Florie · 45|Bert Patenaud...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina
1311,France,Mexico,4,1,1930-07-13,1930,Uruguay,4444,4–1,Group stage,Lucien Laurent · 19|Marcel Langiller · 40|Andr...,Juan Carreño · 70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina

#### Q1.
Faça as conversões de tipo necessárias para que a saída do comando `wc.info()` seja como apresentado a seguir. E **salve o novo dataframe** com o comando `df.to_csv('wc_formatado.csv')`.

```
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype         
---  ------             --------------  -----         
 0   time_1             1312 non-null   string        
 1   time_2             1312 non-null   string        
 2   gols_1             1312 non-null   int64         
 3   gols_2             1312 non-null   int64         
 4   data               1312 non-null   datetime64[ns]
 5   ano                1312 non-null   int64         
 6   país_sede          1312 non-null   string        
 7   comparecimento     1312 non-null   int64         
 8   resultado          1312 non-null   string        
 9   rodada             1312 non-null   category      
 10  gols_1_detalhes    970 non-null    string        
 11  gols_2_detalhes    771 non-null    string        
 12  gols_1_contra      57 non-null     string        
 13  gols_2_contra      30 non-null     string        
 14  gols_1_penalti     170 non-null    string        
 15  gols_2_penalti     119 non-null    string        
 16  cartao_vermelho_1  59 non-null     string        
 17  cartao_vermelho_2  65 non-null     string        
 18  cartao_amarelo_1   834 non-null    string        
 19  cartao_amarelo_2   857 non-null    string        
 20  copa               1312 non-null   string 
```

In [3]:
import pandas as pd

# Converter colunas para os tipos especificados
wc['time_1'] = wc['time_1'].astype('string')
wc['time_2'] = wc['time_2'].astype('string')
wc['gols_1'] = wc['gols_1'].astype('int64')
wc['gols_2'] = wc['gols_2'].astype('int64')
wc['data'] = pd.to_datetime(wc['data'])
wc['ano'] = wc['ano'].astype('int64')
wc['país_sede'] = wc['país_sede'].astype('string')
wc['comparecimento'] = wc['comparecimento'].astype('int64')
wc['resultado'] = wc['resultado'].astype('string')
wc['rodada'] = wc['rodada'].astype('category')
wc['gols_1_detalhes'] = wc['gols_1_detalhes'].astype('string')
wc['gols_2_detalhes'] = wc['gols_2_detalhes'].astype('string')
wc['gols_1_contra'] = wc['gols_1_contra'].astype('string')
wc['gols_2_contra'] = wc['gols_2_contra'].astype('string')
wc['gols_1_penalti'] = wc['gols_1_penalti'].astype('string')
wc['gols_2_penalti'] = wc['gols_2_penalti'].astype('string')
wc['cartao_vermelho_1'] = wc['cartao_vermelho_1'].astype('string')
wc['cartao_vermelho_2'] = wc['cartao_vermelho_2'].astype('string')
wc['cartao_amarelo_1'] = wc['cartao_amarelo_1'].astype('string')
wc['cartao_amarelo_2'] = wc['cartao_amarelo_2'].astype('string')
wc['copa'] = wc['copa'].astype('string')

# Verificar os tipos
wc.info()

# Salvar o dataframe formatado
wc.to_csv('wc_formatado.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time_1             1312 non-null   string
 1   time_2             1312 non-null   string
 2   gols_1             1312 non-null   int64
 3   gols_2             1312 non-null   int64
 4   data               1312 non-null   datetime64[ns]
 5   ano                1312 non-null   int64
 6   país_sede          1312 non-null   string
 7   comparecimento     1312 non-null   int64
 8   resultado          1312 non-null   string
 9   rodada             1312 non-null   category
 10  gols_1_detalhes    970 non-null    string
 11  gols_2_detalhes    771 non-null    string
 12  gols_1_contra      57 non-null     string
 13  gols_2_contra      30 non-null     string
 14  gols_1_penalti     170 non-null    string
 15  gols_2_penalti     119 non-null    string
 16  cartao_vermelho_1  59 non-null     string
 17  cartao_vermelho_2  65 non-null     string
 18  cartao_amarelo_1   834 non-null    string
 19  cartao_amarelo_2   857 non-null    string
 20  copa               1312 non-null   string
dtypes: category(1), datetime64[ns](1), int64(4), string(15)
memory usage: 206.8 KB

#### Q2.
Apresente a linha do dataframe `wc` que corresponde ao jogo com maior audiência da história.

In [4]:
# Encontrar a linha com o maior valor na coluna 'comparecimento'
jogo_maior_audiencia = wc.loc[wc['comparecimento'].idxmax()]

# Exibir a linha
display(jogo_maior_audiencia)

time_1                           Uruguay
time_2                            Brazil
gols_1                                 2
gols_2                                 1
data                 1950-07-16 00:00:00
                            ...
cartao_vermelho_1                   <NA>
cartao_vermelho_2                   <NA>
cartao_amarelo_1                    <NA>
cartao_amarelo_2                    <NA>
copa                           Masculina
Name: 1238, Length: 21, dtype: object

#### Q3.
Aplicando operações sobre as colunas `ano` e `copa` do dataframe `wc`, apresente quantas copas femininas e quantas copas masculinas já aconteceram na história.

Exemplo de saída (valores inventados):
```
Masculina: 22
Feminina: 9
```

In [5]:
# Contar o número de copas distintas por tipo (Masculina ou Feminina)
copas_por_tipo = wc.groupby('copa')['ano'].nunique()

# Exibir o resultado no formato solicitado
print(f"Masculina: {copas_por_tipo['Masculina']}")
print(f"Feminina: {copas_por_tipo['Feminina']}")

Masculina: 22
Feminina: 9

#### Q3. 
Crie um dataframe `participacao` com as colunas `país`, `copa`, e `num_copas` que armazena a quantidade de copas do mundo que cada país participou, informando se é da copa masculina ou feminina. Ao final imprima, como apresentado a seguir, o top 5 países de cada competição que mais participou de copas do mundo.

Exemplo de saída (valores inventados):
```
país            copa        num_copas
Brazil          Feminina    8
Unites States   Feminina    8
Germany         Feminina    8
Japan           Feminina    7
Colombia        Feminina    7
```

```
país            copa        num_copas
Brazil          Masculina   21
Germany         Masculina   21
Argentina       Masculina   20
England         Masculina   20
Mexico          Masculina   20
```

In [6]:
# Criar um dataframe com participações dos times em casa e fora
participacao_time1 = wc[['time_1', 'copa', 'ano']].rename(columns={'time_1': 'país'})
participacao_time2 = wc[['time_2', 'copa', 'ano']].rename(columns={'time_2': 'país'})
participacao_total = pd.concat([participacao_time1, participacao_time2])

# Contar o número de copas distintas por país e tipo de copa
participacao = participacao_total.groupby(['país', 'copa'])['ano'].nunique().reset_index(name='num_copas')

# Exibir o top 5 para Feminina
print("Top 5 países - Copa Feminina:")
display(participacao[participacao['copa'] == 'Feminina'].sort_values(by='num_copas', ascending=False).head(5))

# Exibir o top 5 para Masculina
print("Top 5 países - Copa Masculina:")
display(participacao[participacao['copa'] == 'Masculina'].sort_values(by='num_copas', ascending=False).head(5))

Top 5 países - Copa Feminina:

       país      copa  num_copas
10   Brazil  Feminina          9
81   Norway  Feminina          9
63    Japan  Feminina          9
45  Germany  Feminina          9
78  Nigeria  Feminina          9

Top 5 países - Copa Masculina:

         país       copa  num_copas
11     Brazil  Masculina         22
3   Argentina  Masculina         18
60      Italy  Masculina         18
71     Mexico  Masculina         17
40    England  Masculina         16

#### Q4. 
* Crie um dataframe `gols` com duas colunas `país` e `total_gols` com o total de gols marcados por cada país durante todas as copas do mundo, juntando gols em casa (`gols_1`) e gols como time visitante (`gols_2`).
* Imprima o dataframe `gols` ordenado de forma decrescente, para que os times com mais gols fiquem no topo.

Segue um exemplo ilustrativo com o formato do dataframe resultado:

```
país        total_gols
Brazil      120
Argentina   112
Germany     107
...
```

In [7]:
# Calcular gols marcados como time_1
gols_time1 = wc.groupby('time_1')['gols_1'].sum().reset_index().rename(columns={'time_1': 'país', 'gols_1': 'total_gols'})

# Calcular gols marcados como time_2
gols_time2 = wc.groupby('time_2')['gols_2'].sum().reset_index().rename(columns={'time_2': 'país', 'gols_2': 'total_gols'})

# Somar os gols totais por país
gols = pd.concat([gols_time1, gols_time2]).groupby('país')['total_gols'].sum().reset_index()

# Ordenar de forma decrescente
gols = gols.sort_values(by='total_gols', ascending=False)

# Exibir o dataframe
display(gols)

                   país  total_gols
8                Brazil         308
31              Germany         254
84        United States         182
30               France         180
75               Sweden         165
..                  ...         ...
61                Qatar           1
23    Dutch East Indies           0
79  Trinidad and Tobago           0
86              Vietnam           0
90                Zaire           0

[92 rows x 2 columns]

#### Q5. 
Qual país tomou mais cartões amarelos somando todas as copas?

Neste exercício você vai trabalhar com as colunas `cartao_amarelo_1` e `cartao_amarelo_2` onde cada observação é uma string represetando uma lista dos cartões amarelos de um único jogo na forma `minuto|placar|jogador(a)`. Por exemplo:
```
['16’|1:0|Rosana Gómez', '20’|2:0|Gabriela Chávez]
```

Recomendo criar colunas `num_cartoes_1` e `num_cartoes_2` a partir de cada coluna `cartao_amarelo_X` usando o método genérico `apply` para chamar uma função que você vai criar para transformar uma observação de cartão amarelo em uma contagem de elementos da lista. 

Lembre de levar em consideração que muitas observações são `NaN`. 

Em seguida faça sua mágica para agrupar as informações por país, acumular os cartões de jogos em casa e jogos visitante, e produzir o resultado final como apresentado a seguir (valores inventados):

```
país        cartões amarelos
Argentina   97
England     93
Australia   93
...
```

In [8]:
# Função para contar o número de cartões em uma string (considerando NaN)
def contar_cartoes(valor):
    if pd.isna(valor):
        return 0
    # Contar elementos separados por '|' ou considerar como lista
    return len(str(valor).split('|')) if '|' in str(valor) else 1 if valor else 0

# Criar colunas com a contagem de cartões
wc['num_cartoes_1'] = wc['cartao_amarelo_1'].apply(contar_cartoes)
wc['num_cartoes_2'] = wc['cartao_amarelo_2'].apply(contar_cartoes)

# Somar cartões por país (time_1 e time_2)
cartoes_time1 = wc.groupby('time_1')['num_cartoes_1'].sum().reset_index().rename(columns={'time_1': 'país', 'num_cartoes_1': 'cartões amarelos'})
cartoes_time2 = wc.groupby('time_2')['num_cartoes_2'].sum().reset_index().rename(columns={'time_2': 'país', 'num_cartoes_2': 'cartões amarelos'})

# Combinar e somar os cartões totais por país
cartoes = pd.concat([cartoes_time1, cartoes_time2]).groupby('país')['cartões amarelos'].sum().reset_index()

# Ordenar e exibir
cartoes = cartoes.sort_values(by='cartões amarelos', ascending=False)
display(cartoes)

                 país  cartões amarelos
8              Brazil               426
2           Argentina               395
31            Germany               314
50        Netherlands               284
42              Italy               275
..                ...               ...
86            Vietnam                 6
90              Zaire                 6
14     Chinese Taipei                 3
23  Dutch East Indies                 0
18               Cuba                 0

[92 rows x 2 columns]

#### Q6.
Qual o top10 jogadores com mais gols em copa? Considere gols em jogo e gols de pênalti.

Para conseguir essa informação, você precisará trabalhar com as colunas:
```
10  gols_1_detalhes         
11  gols_2_detalhes    
14  gols_1_penalti     
15  gols_2_penalti     
```

Essas também são colunas textuais, onde cada observações apresenta todos os gols de uma partida separados pelo caracter `|`. Cada gol está na forma `'Jogador(a) · minuto’'`. Por exemplo:
```
'Alex Morgan · 12’|Rose Lavelle · 20’'
```

Lembre de levar em consideração que muitas observações são `NaN`. 

Recomendo criar um dicionário à parte, onde cada chave será um jogador encontrado nessas colunas do dataframe `wc` e o valor correspondente será a contagem de ocorrências desses nomes.

Em seguida basta converter o seu dicionário em um dataframe e imprimí-lo na forma (valores não são inventados 😁):
```
jogador(a)      num_gols 
Marta           17
Miroslav Klose  16
... 
```

In [9]:
# Função para extrair jogadores de uma string de gols
def extrair_jogadores(valor):
    if pd.isna(valor):
        return []
    return [gol.split(' · ')[0] for gol in str(valor).split('|') if ' · ' in gol]

# Criar um dicionário para contar gols por jogador
gols_jogadores = {}

# Processar as colunas de gols
for coluna in ['gols_1_detalhes', 'gols_2_detalhes', 'gols_1_penalti', 'gols_2_penalti']:
    wc[coluna].apply(lambda x: [gols_jogadores.update({jogador: gols_jogadores.get(jogador, 0) + 1}) for jogador in extrair_jogadores(x)])

# Converter o dicionário em um dataframe
df_gols_jogadores = pd.DataFrame(list(gols_jogadores.items()), columns=['jogador(a)', 'num_gols'])

# Ordenar e exibir o top 10
top10_jogadores = df_gols_jogadores.sort_values(by='num_gols', ascending=False).head(10)
display(top10_jogadores)

            jogador(a)  num_gols
433     Miroslav Klose        16
497            Ronaldo        14
169       Birgit Prinz        14
974      Just Fontaine        13
894        Gerd Müller        13
882               Pelé        12
174       Abby Wambach        12
1019     Sándor Kocsis        11
603   Jürgen Klinsmann        11
982        Helmut Rahn        10